/* line 1, ../../app/styles/loader.scss */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
}

/* line 7, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #97c11f;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

/* line 15, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}

/* line 18, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}

/* line 21, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}

/* line 24, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}

/* line 27, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}

/* line 30, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}

/* line 33, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}

/* line 36, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}

/* line 39, ../../app/styles/loader.scss */
.sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}