@font-face {
    font-family: Poppins Light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins Black;
    src: url(../fonts/Poppins-Black.ttf);
}

body,
a {
    color: #767676;
    font-family: "Poppins Regular", sans-serif;
    font-size: 16px;
    position: relative;
    font-weight: normal;
}

a {
    display: inline-block;
}

a:hover,
a.active {
    color: #7fc31b;
}

.main-logo img {
    max-height: 72px;
}

.navbar-nav {
    padding: 11px 0;
}

.navbar-nav a {
    border-bottom: 3px solid transparent;
    background-color: transparent!important;
}

.navbar-nav a.active:before,
.navbar-nav a:hover:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid #7fc31b;
    bottom: 0;
    width: 30px;
    left: 30px;
}

.btn {
    border: 2px solid #7fc31b!important;
}

.btn-primary {
    background-color: #7fc31b!important;
}

.btn-default {
    color: #7fc31b!important;
}

.above-content h1 {
    color: #595b57;
    font-size: 72px;
    font-family: "Poppins Bold", sans-serif;
}

.above-content p {
    line-height: 1.6em;
    font-size: 18px;
    font-family: "Poppins Light", sans-serif;
    margin: 35px 0;
}

.call-to-action .btn {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-padding {
    padding-left: 60px!important;
    padding-right: 60px!important;
}

.margin-less {
    margin: 0!important;
}

.padding-less {
    padding: 0!important;
}

.section {
    padding: 110px 0 135px;
}

.section:after {
    clear: both;
    content: ' ';
    display: table;
}

img {
    max-width: 100%;
}

.above-image-content {
    padding-top: 80px;
}

.green {
    background-color: #f7fff2;
}

b {
    font-family: "Poppins Bold", sans-serif;
}

.section h2.main-section-title {
    font-size: 55px;
    font-family: "Poppins Bold", sans-serif;
    margin: 0 auto 40px;
    color: #535151;
}

.why-us h2 {
    margin: 40px auto 35px;
    font-family: "Poppins Regular", sans-serif;
    font-size: 25px;
}

.why-us p {
    font-family: "Poppins Light", sans-serif;
}

.overflowed {
    overflow: hidden;
}

.mudanza-image,
.carga-image {
    position: absolute;
    height: 500px;
    max-width: inherit;
    width: calc(100vw - 50vw);
}

.mudanza-image {
    left: 0;
    background-image: url("/static/images/landing-mudanza-large.png");
    background-position: right;
}

.carga-image {
    right: 0;
    background-image: url('/static/images/mudanza-carga-large.png');
    background-position: left;
}

.drive-with-us {
    background-image: url('/static/images/landing-conductor.png');
    background-size: cover;
    background-position: center;
}

.dark-green {
    color: #fff;
    background-color: #7fc31b;
    padding: 55px 50px;
}

.dark-green h4 {
    font-size: 15px;
    font-family: "Poppins Bold", sans-serif;
    letter-spacing: 3px;
    padding-bottom: 15px;
    position: relative;
}

.dark-green h4:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    border: 1px solid #fff;
    width: 18px;
    left: 0;
}

.dark-green h4 span {
    font-family: "Poppins Light", sans-serif;
}

.dark-green h2 {
    margin-top: 55px;
    font-family: Poppins Bold, sans-serif;
    font-size: 40px;
    margin-bottom: 35px;
}

.dark-green p {
    line-height: 1.7em;
}

.dark-green a {
    margin-top: 45px;
}

.padding-min {
    padding: 35px 0!important;
}

.testimonios {
    background-image: url('/static/images/landing-testimonios-background.png');
    background-position: center;
    background-size: cover;
    color: #343434;
}

.slider {
    background-color: #fff;
    padding: 100px 0;
}

.slider h2 {
    font-size: 50px;
    font-family: 'Poppins Bold', sans-serif;
    display: inline-block;
    margin: 0;
}

.slider h2:after {
    position: absolute;
    content: ' ';
    background-image: url('/static/images/landing-quotes.png');
    width: 65px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -25px;
    right: -90px;
}

.relative {
    position: relative;
}

.slider-author-text {
    display: table-cell;
    height: 109px;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
}

.slider-author-text p {
    font-size: 28px;
    margin: 0;
    line-height: 1em;
    font-family: "Poppins Light", sans-serif;
}

.slider-author-text p.small {
    font-size: 22px;
    color: #979797;
    margin-top: 20px;
}

.card-header p {
    margin: 0;
    font-size: 30px;
    font-family: "Poppins Light", sans-serif;
}

.card-header {
    margin: 40px 0 60px;
}

.slider-items {
    overflow: hidden;
}

.slider-items ul {
    margin: auto!important;
    padding: 0!important;
    position: absolute;
}

.slider-items ul:after {
    clear: both;
    content: ' ';
    display: table;
}

.slider-items li {
    padding: 0;
    width: 100%;
}

.card-author {
    display: inline-block;
}

.slider-dots span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 9px;
    background-color: #cccccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider-dots span.active {
    background-color: #7fc31b;
}

.slider-arrows span {
    background-image: url('/static/images/landing-arrow.png');
    display: inline-block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 150px;
    left: 80px;
    cursor: pointer;
}

.slider-arrows .next-slider {
    left: inherit;
    right: 80px;
    transform: rotate(180deg);
}
