@font-face {
    font-family: Poppins Light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins Black;
    src: url(../fonts/Poppins-Black.ttf);
}

body,
a {
    color: #767676;
    font-family: "Poppins Regular", sans-serif;
    font-size: 16px;
    position: relative;
    font-weight: normal;
}

a {
    display: inline-block;
}

a:hover,
a.active {
    color: #7fc31b;
}

.main-logo img {
    max-height: 72px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-nav {
    padding: 11px 0;
}

.navbar-nav a {
    border-bottom: 3px solid transparent;
    background-color: transparent!important;
}

.navbar-nav a.active:before,
.navbar-nav a:hover:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid #7fc31b;
    bottom: 0;
    width: 30px;
    left: 30px;
}

.btn {
    border: 2px solid #7fc31b!important;
}

.btn-primary {
    background-color: #7fc31b!important;
}

.btn-default {
    color: #7fc31b!important;
}

.above-content {
    padding-top: 200px!important;
}

.above-content h1 {
    color: #595b57;
    font-size: 72px;
    font-family: "Poppins Bold", sans-serif;
}

.above-content h2 {
    line-height: 1.6em;
    font-size: 18px;
    font-family: "Poppins Light", sans-serif;
    margin: 35px 0;
}

.above-content p {
    line-height: 1.6em;
    font-size: 18px;
    font-family: "Poppins Light", sans-serif;
    margin: 35px 0;
}

.call-to-action .btn {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-padding {
    padding-left: 60px!important;
    padding-right: 60px!important;
}

.margin-less {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.padding-less {
    padding: 0!important;
}

.section {
    padding: 110px 0 135px;
}

.section:after {
    clear: both;
    content: ' ';
    display: table;
}

img {
    max-width: 100%;
}

.above-image-content {
    padding-top: 80px;
}

.green {
    background-color: #f7fff2;
}

b {
    font-family: "Poppins Bold", sans-serif;
}

.section .main-section-title {
    font-size: 55px;
    font-family: "Poppins Bold", sans-serif;
    margin: 0 auto 40px;
    color: #535151;
}

.why-us h2 {
    margin: 40px auto 35px;
    font-family: "Poppins Regular", sans-serif;
    font-size: 25px;
}

.why-us h3 {
    font-family: "Poppins Light", sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
}

.overflowed {
    overflow: hidden;
}

.like-p {
    color: #767676;
    font-family: "Poppins Regular", sans-serif;
    font-size: 16px;
    position: relative;
    font-weight: normal;
    line-height: 1.42857143;
}

.section-padded-small {
    padding: 80px 0 60px;
}

.mudanza-image,
.carga-image {
    position: absolute;
    height: 500px;
    max-width: inherit;
    width: calc(100vw - 50vw);
}

.mudanza-image {
    left: 0;
    background-image: url("/static/images/landing-mudanza-large.png");
    background-position: right;
}

.carga-image {
    right: 0;
    background-image: url('/static/images/mudanza-carga-large.png');
    background-position: left;
}

.drive-with-us {
    background-image: url('/static/images/landing-conductor.png');
    background-size: cover;
    background-position: center;
}

.dark-green {
    color: #fff;
    background-color: #7fc31b;
    padding: 55px 50px;
}

.dark-green h4 {
    font-size: 15px;
    font-family: "Poppins Bold", sans-serif;
    letter-spacing: 3px;
    padding-bottom: 15px;
    position: relative;
}

.dark-green h4:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    border: 1px solid #fff;
    width: 18px;
    left: 0;
}

.dark-green h4 span {
    font-family: "Poppins Light", sans-serif;
}

.dark-green h1 {
    margin-top: 55px;
    font-family: Poppins Bold, sans-serif;
    font-size: 40px;
    margin-bottom: 35px;
}

.dark-green h2 {
    line-height: 1.7em;
    color: #fff;
}

.dark-green a {
    margin-top: 45px;
}

.padding-min {
    padding: 35px 0!important;
}

.testimonios {
    background-image: url('/static/images/landing-testimonios-background.png');
    background-position: center;
    background-size: cover;
    color: #343434;
}

.slider {
    background-color: #fff;
    padding: 100px 0;
}

.slider h1 {
    font-size: 50px;
    font-family: 'Poppins Bold', sans-serif;
    display: inline-block;
    margin: 0;
    max-width: 600px;
}

.slider h2:after {
    position: absolute;
    content: ' ';
    background-image: url('/static/images/landing-quotes.png');
    width: 65px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -25px;
    right: -90px;
}

.relative {
    position: relative;
}

.slider-author-text {
    display: table-cell;
    height: 109px;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
}

.slider-author-text.no-tabled {
    display: block;
    height: inherit;
    text-align: center;
    padding: 15px 0 40px;
}

.slider-author-text p {
    font-size: 28px;
    margin: 0;
    line-height: 1em;
    font-family: "Poppins Light", sans-serif;
}

.slider-author-text p.small {
    font-size: 22px;
    color: #979797;
    margin-top: 20px;
}

.card-header h2 {
    font-size: 30px;
    font-family: "Poppins Light", sans-serif;
    color: #343434;
    max-width: 600px;
    margin: auto;
}

.card-header {
    margin: 40px 0 60px;
}

.slider-items {
    overflow: hidden;
}

.slider-items ul {
    margin: auto!important;
    padding: 0!important;
    position: absolute;
}

.slider-items ul:after {
    clear: both;
    content: ' ';
    display: table;
}

.slider-items li {
    padding: 0;
    width: 100%;
}

.card-author {
    display: inline-block;
}

.slider-dots span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 9px;
    background-color: #cccccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider-dots span.active {
    background-color: #7fc31b;
}

.slider-arrows span {
    background-image: url('/static/images/landing-arrow.png');
    display: inline-block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 150px;
    left: 80px;
    cursor: pointer;
}

.slider-arrows .next-slider {
    left: inherit;
    right: 80px;
    transform: rotate(180deg);
}

.awards {
    color: #343434;
}

.awards h1 {
    font-size: 50px;
    font-family: 'Poppins Bold', sans-serif;
    display: inline-block;
    margin: 0 0 60px;
}

.awards img {
    max-height: 60px;
}

.awards.awards-no-min img {
    max-height: inherit;
}

.awards ul:after {
    clear: both;
    content: ' ';
    display: table;
}

.awards li {
    margin-bottom: 80px;
}

.footer {
    background-color: #212528;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins Light", sans-serif;
}

.footer a {
    color: #fff;
}

.socials {
    margin: 35px 0;
}

.socials a {
    display: inline-block;
    line-height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
}

.facebook-link {
    background-color: #405992;
}

.youtube-link {
    background-color: #e33758;
}

.instagram-link {
    background-color: #8a4d12;
}

.footer .copyright {
    font-size: 15px;
    color: #f4f4f4;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-cell p {
    margin: 0;
}

.contact-information li {
    display: table;
    height: 60px;
}

.contact-info-description {
    padding-left: 25px;
}

.container-min {
    max-width: 860px!important;
}

.header.light {
    background-color: #fff;
}

.header.dark {
    background-color: #0D0D0D;
}

.header.dark a {
    color: #fff;
}

.header.dark a:hover {
    color: #2FCA00;
}

.header.dark .navbar-nav a.active:before,
.header.dark .navbar-nav a:hover:before {
    border-bottom: 3px solid #2FCA00;
}

.drivers-above {
    background-image: url('/static/images/landing-conductor-bw.png');
    color: #fff;
}

.carga-above {
    background-image: url('/static/images/landing_carga.png');
    color: #fff;
}

.drivers-above h1,
.drivers-above h2,
.drivers-above a,
.carga-above a,
.carga-above h1,
.carga-above h2 {
    color: #fff;
}

.drivers-form {
    border-radius: 10px;
    overflow: hidden;
}

.drivers-form .form-header {
    background-color: #29323B;
    color: #fff;
    padding: 25px 30px;
}

.drivers-form .form-body {
    padding: 25px 30px;
    background-color: #F7F7F7;
    color: #535151;
}

.drivers-form .form-control {
    height: 65px;
    border-radius: 10px;
}

.carga-items-ventajas {
    margin-bottom: 80px;
}

.carga-items-ventajas h3 {
    font-size: 32px;
    margin: 0;
    padding: 70px 0;
    color: #595b57;
}

.carga-items-ventajas h3 span {
    font-size: 40px;
    font-family: Poppins Bold, sans-serif;
}

.block {
    display: block!important;
}
