$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$primary-color: #7fc31b;
$header-links-color: #ffffff;
$selection-color: #ffffff;

@import "signin";
@import "lead";
@import "loader";

[ng-click] {
    cursor: pointer;
}

.container {
    max-width: 750px;
    width: 100%;
}

.fa-heart-o {
    color: red;
}

.fa-code {
    color: green;
}

.footer {
    margin-top: 50px;
}

.page-header {
    h1 {
        font-weight: 300;
    }
}

.btn {
    border-radius: 0;
}

#map {
    width: 100%;
    height: 500px;
}

.form-group {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.summary {
    .form-group {
        border-bottom: 1px dotted #ddd;
    }
}

.navbar-brand {
    padding: 0;

    img {
        max-height: 100%;
    }
}

.actions {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.media-photo {
    border-radius: 5px;
    max-width: 30px;
}

.to-uppercase {
    text-transform: uppercase;
}

.earn {
    color: red;
    font-weight: bold;

    &:before {
        font-family: FontAwesome;
    }

    &:before {
        content: '\f0d7';
    }

    &.win {
        color: #5ec55e;

        &:before {
            content: '\f0d8';
        }
    }
}

.table {
    td {
        font-size: 12px;
    }
}

.fa-long-arrow-right {
    margin-left: 10px;
}

.service {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    clear: both;

    p {
        margin: 0;
    }

    .service-icon {
        max-width: 80px;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .service-description {
        margin-left: 100px;
    }

    &.fullcontent {
        .service-icon {
            display: none;
        }

        .service-description {
            margin: 0;
        }
    }
}

.form-group {
    display: inline-block;
    width: 100%;
}

.clear {
    display: inline-block;
    width: 100%;
}

.navbar-primary {
    background-color: $primary-color;
    border: 0;
    border-radius: 0;

    .navbar-nav > li > a {
        color: $header-links-color;
    }
}

.page-heading {
    margin: 100px 0;

    h2,
    h3,
    h4 {
        margin: 0;
        font-weight: 300;
    }

    h3 {
        line-height: 1.3;
        letter-spacing: 1px;
    }

    .heading-image {
        margin: 30px 0;
        padding: 0 50px;
        clear: both;

        img {
            max-width: 100%;
        }
    }

    .alert-info {
        margin: 40px 0;
    }
}

.text-muted {
    color: #637381;
}

.form-group {
    .form-control {
        box-shadow: none;
        border: 1px solid #ddd;
        border-radius: 0;
        font-size: 15px;
        text-align: center;
    }
}

.option-list {
    margin-top: 20px;

    &:after {
        clear: both;
        content: ' ';
        display: table;
    }

    .selection-box {
        border: 5px solid transparent;
        opacity: 0.6;
        border-radius: 10px;
        margin-bottom: 10px;

        &.selected {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $selection-color;
            opacity: 1;
        }

        i {
            font-size: 30px;
            line-height: 50px;
        }

        p {
            line-height: 1em;
            font-size: 12px;
        }
    }
}

.fa {
    &.xs {
        font-size: 20px!important;
    }

    &.md {
        font-size: 25px!important;
    }

    &.lg {
        font-size: 35px!important;
    }
}

.home-map {
    visibility: hidden;
}

.small {
    font-size: 11px;
}

.calculate-moving {
    margin-top: 50px;
}

.modal-container {
    padding: 50px;
}