$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$primary-color: rgb(127, 195, 27);
$header-links-color: #ffffff;
$selection-color: #ffffff;
$light-grey: rgb(230, 230, 230);
$test-grey: rgb(106, 104, 104);

@import "signin";
@import "lead";
@import "loader";

body {
    font-family: 'Muli', sans-serif;
    color: rgb(106, 104, 104);
}

.primary-degradent {
    background: #80c31b;
    background: -moz-linear-gradient(-45deg, #80c31b 0%, #b1ff3d 100%);
    background: -webkit-linear-gradient(-45deg, #80c31b 0%,#b1ff3d 100%);
    background: linear-gradient(135deg, #80c31b 0%,#b1ff3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c31b', endColorstr='#b1ff3d',GradientType=1 );

    color: #fff;
}

.navbar {
    padding-top: 20px;
    margin: 0;
    padding-bottom: 20px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

/*h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}*/

[ng-click] {
    cursor: pointer;
}

.container {
    max-width: 750px;
    width: 100%;
}

.footer {
    margin-top: 50px;
}

.page-header {
    h1 {
        font-weight: 300;
    }
}

.btn {
    border-radius: 0;
}

#map {
    width: 100%;
    height: 500px;
}

.form-group {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.summary {
    .form-group {
        border-bottom: 1px dotted #ddd;
    }
}

.navbar-brand {
    padding: 0;

    img {
        max-height: 100%;
    }
}

.actions {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.media-photo {
    border-radius: 5px;
    max-width: 30px;
}

.to-uppercase {
    text-transform: uppercase;
}

.earn {
    color: red;
    font-weight: bold;

    &:before {
        font-family: FontAwesome;
    }

    &:before {
        content: '\f0d7';
    }

    &.win {
        color: #5ec55e;

        &:before {
            content: '\f0d8';
        }
    }
}

.table {
    td {
        font-size: 12px;
    }
}

.fa-long-arrow-right {
    margin-left: 10px;
}

.service {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    clear: both;

    p {
        margin: 0;
    }

    .service-icon {
        max-width: 80px;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .service-description {
        margin-left: 100px;
    }

    &.fullcontent {
        .service-icon {
            display: none;
        }

        .service-description {
            margin: 0;
        }
    }
}

.form-group {
    display: inline-block;
    width: 100%;
}

.clear {
    display: inline-block;
    width: 100%;
}

.navbar-primary {
    background-color: $selection-color;
    border: 0;
    border-radius: 0;

    .navbar-nav > li > a {
        color: $primary-color;
        font-size: 20px;
        font-weight: 300;
    }
}

.page-heading {
    margin: 25vh 0 15vh;

    h1 {
        font-size: 50px;
    }

    h2,
    h3,
    h4 {
        margin: 0;
        font-weight: 300;
    }

    h3 {
        line-height: 1.3;
        letter-spacing: 1px;
        font-size: 30px;
        margin-top: 30px;
    }

    .heading-image {
        margin: 30px 0;
        padding: 0 50px;
        clear: both;

        img {
            max-width: 100%;
        }
    }

    .alert-info {
        margin: 40px 0;
    }
}

.text-muted {
    color: #637381;
}

.form-group {
    .form-control {
        box-shadow: none;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 25px;
        height: inherit;
        border-radius: 5px;
    }
}

.option-list {
    margin-top: 20px;

    &:after {
        clear: both;
        content: ' ';
        display: table;
    }

    .selection-box {
        border: 5px solid transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        opacity: .6;

        &.selected {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $selection-color;
            opacity: 1;
        }

        i {
            font-size: 30px;
            line-height: 50px;
        }

        p {
            line-height: 1em;
            font-size: 12px;
        }
    }
}

.fa {
    &.xs {
        font-size: 20px!important;
    }

    &.md {
        font-size: 25px!important;
    }

    &.lg {
        font-size: 35px!important;
    }
}

.home-map {
    visibility: hidden;
}

.small {
    font-size: 11px;
}

.calculate-moving {
    margin-top: 50px;
}

.modal-container {
    padding: 50px;

    h1,
    h3 {
        color: #000;
    }
}

.datetimepicker {
    clear: both;
    margin: auto;
    border: 1px solid #ddd;
}

.text-left {
    input,
    textarea {
        text-align: left!important;
    }
}

.no-padding {
    padding: 0;
}

.full-width {
    width: 100%;
}

.content-box {
    padding: 100px 0;

    &:after {
        clear: both;
        content: ' ';
        display: table;
    }

    h1 {
        margin-top: 0;
        font-weight: 300;
    }

    .what-we-do-content {
        font-size: 22px;
        display: table-cell;
        height: 200px;
        vertical-align: middle;

        span {
            line-height: 1.5em;
            display: inline-block;
        }
    }

    .item-image {
        padding: 30px 30px 0 30px;
    }

    .item-content {
        font-size: 14px;
        line-height: 1em;

        h3 {
            font-size: 20px;
            color: #000;
            font-weight: normal;
        }
    }
}

.rounded {
    overflow: hidden;
    border-radius: 50%;
}

.light-grey {
    background-color: $light-grey;
    color: #000;
}

.footer {
    background-color: $primary-color;
}

.dark {
    background-color: #212240;
}

.subfooter {
    p {
        color: #fff;
        margin: 20px 0;
    }
}

.footer {
    color: #fff;

    a {
        color: #fff;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.steps-container {
    label {
        font-size: 20px;
        color: $test-grey;
        font-weight: 300;
    }
}

.btn-aloha {
    border: 1px solid $primary-color;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-default {
    &.btn-aloha {
        color: $test-grey;
    }
}

.btn-success {
    &.btn-aloha {
        font-weight: 300;
        color: #fff;
    }
}

.quoting-link {
    margin-top: 30px;
}

.option-list {
    color: #333;
}

.footer {
    h3 {
        font-weight: 300;
        margin-bottom: 30px;
    }

    .social-links {
        li {
            a {
                max-width: 30px;
                display: inline-block;
            }
        }
    }

    ul {
        li {
            margin-bottom: 10px;

            a {
                font-weight: 300;
                font-size: 15px;
            }
        }
    }
}

.above-the-fold {
    min-height: 100vh;
}
