$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "signin";
@import "lead";
@import "loader";

.container {
    max-width: 750px;
    width: 100%;
}

.fa-heart-o {
    color: red;
}

.fa-code {
    color: green;
}

.footer {
    margin-top: 50px;
}

.page-header {
    h1 {
        font-weight: 300;
    }
}

.btn {
    border-radius: 0;
}

#map {
    width: 100%;
    height: 500px;
}

.form-group {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.summary {
    .form-group {
        border-bottom: 1px dotted #ddd;
    }
}

.navbar-brand {
    padding: 0;

    img {
        max-height: 100%;
    }
}

.actions {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.media-photo {
    border-radius: 5px;
    max-width: 30px;
}

.to-uppercase {
    text-transform: uppercase;
}

.earn {
    color: red;
    font-weight: bold;

    &:before {
        font-family: FontAwesome;
    }

    &:before {
        content: '\f0d7';
    }

    &.win {
        color: #5ec55e;

        &:before {
            content: '\f0d8';
        }
    }
}

.table {
    td {
        font-size: 12px;
    }
}

.fa-long-arrow-right {
    margin-left: 10px;
}

.service {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    clear: both;

    p {
        margin: 0;
    }

    .service-icon {
        max-width: 80px;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .service-description {
        margin-left: 100px;
    }

    &.fullcontent {
        .service-icon {
            display: none;
        }

        .service-description {
            margin: 0;
        }
    }
}

.form-group {
    display: inline-block;
    width: 100%;
}
