<div class="container">
    <div class="leads-container">
        <div class="list-leads to-uppercase">
            <app-driver driver="vm.driver"></app-driver>
            <div class="page-header">
                <h1 class="text-muted">Camiones</h1>
            </div>
            <div class="list-quotings">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>TIPO DE CAMIÓN</th>
                        <th>NÚMERO DE PLACA</th>
                        <th>¿FURGON?</th>
                    </tr>
                    </thead>
                    <tbody class="text-left">
                    <tr ng-repeat="truck in vm.trucks">
                        <td>{{ truck.truck_type.name }}</td>
                        <td>{{ truck.registration_number }}</td>
                        <td><i ng-if="truck.its_furgon" class="fa fa-check"></i><i ng-if="!truck.its_furgon" class="fa fa-cancel"></i></td>
                    </tr>
                    <tr ng-if="vm.empty_list">
                        <td colspan="6">Este lead no tiene cotizaciones registradas.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="page-header">
                <h1 class="text-muted">Nuevo camión</h1>
            </div>
            <div class="new-truck">
                <form ng-submit="vm.registerTruck()" class="form">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Tipo de camión</label>
                            <select ng-model="vm.truck.truck_size_type_id" ng-change="vm.calculateTruckPrice(); vm.changeServiceTime()" class="form-control">
                                <option value="">-- Elige el tipo de camión --</option>
                                <option ng-repeat="truck_size_type in vm.truckSizeTypes" value="{{ truck_size_type.id }}">{{ truck_size_type.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Número de placa</label>
                            <input ng-model="vm.truck.registration_number" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label><input ng-model="vm.truck.its_furgon" type="checkbox"> ¿Es camión tipo furgón?</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Peso Bruto</label>
                            <input ng-model="vm.truck.peso_bruto" type="number" step=".01" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label>Peso Neto</label>
                            <input ng-model="vm.truck.peso_neto" type="number" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Carga Útil</label>
                            <input ng-model="vm.truck.carga_util" type="number" step=".01" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label>Alto Total</label>
                            <input ng-model="vm.truck.alto_total" type="number" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Alto</label>
                            <input ng-model="vm.truck.alto" type="number" step=".01" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label>Ancho</label>
                            <input ng-model="vm.truck.ancho" type="number" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Largo</label>
                            <input ng-model="vm.truck.largo" type="number" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="alert alert-danger small" ng-if="vm.error">{{ vm.error }}</div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button ladda="vm.saving" class="btn btn-lg btn-primary btn-block">GUARDAR <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
