<div class="container">
    <div class="leads leads-container">
        <div class="page-header">
            <h1 class="text-center text-muted">Nuevo Chofer</h1>
        </div>
        <form ng-submit="vm.createDriver()" class="form">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombres <span class="small">*</span></label>
                    <input ng-model="vm.driver.first_name" type="text" class="form-control" autofocus required>
                </div>
                <div class="col-md-6">
                    <label>Apellidos <span class="small">*</span></label>
                    <input ng-model="vm.driver.last_name" type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Teléfono <span class="small">*</span></label>
                    <input ng-model="vm.driver.phone_number" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label>Nº DNI <span class="small">*</span></label>
                    <input ng-model="vm.driver.dni" type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Nº Licencia <span class="small">*</span></label>
                    <input ng-model="vm.driver.license_number" type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Distrito en el que labora <span class="small">*</span></label>
                    <select ng-model="vm.driver.district_id" class="form-control" required>
                        <option value="">-- Elija un distrito --</option>
                        <option ng-repeat="district in vm.districts" value="{{ district.id }}">{{ district.name }}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre de usuario <span class="small">*</span></label>
                    <input ng-model="vm.driver.username" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label>Contraseña <span class="small">*</span></label>
                    <input ng-model="vm.driver.password" type="password" class="form-control" required>
                </div>
            </div>
            <p class="small text-muted">* Campos requeridos</p>
            <div class="alert alert-danger" ng-if="vm.error">{{ vm.error }}</div>
            <div class="form-group">
                <div class="col-md-12">
                    <button ladda="vm.saving" class="btn btn-lg btn-primary btn-block">REGISTRAR <i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
