<div class="container">
    <div class="modal-container text-center">
        <h1>Aloha!</h1>
        <div ng-if="vm.calculating" class="calculation-box">
            <h3>Estamos buscando el mejor precio para tu mudanza</h3>
            <app-loader></app-loader>
            <i class="fa fa-truck lg"></i>
        </div>

        <div ng-if="vm.calculated" class="calculated-box">
            <h4>El precio de tu mudanza es de</h4>
            <h3><span class="small">Precio:</span> <s>{{ vm.quoting.final_price + 50 | currency:'S/ ' }}</s></h3>
            <h1><span class="small">Precio promocional:</span> {{ vm.quoting.final_price | currency:'S/ ' }}</h1>
            <button ng-if="!vm.registration" ng-click="vm.acceptAmount()" class="btn btn-success">Programa tu mudanza ahora</button>
        </div>

        <div ng-if="vm.registration" class="text-left">
            <hr>
            <form ng-submit="vm.registerService()" class="form">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input ng-model="vm.quoting.customer.first_name" type="text" class="form-control" id="name" placeholder="Tus nombres" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Apellidos</label>
                    <input ng-model="vm.quoting.customer.last_name" type="text" class="form-control" id="last_name" placeholder="Tus apellidos" required>
                </div>
                <div class="form-group">
                    <label for="phone_number">Teléfono</label>
                    <input ng-model="vm.quoting.customer.phone_number" type="text" class="form-control" id="phone_number" placeholder="Tu número de teléfono" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input ng-model="vm.quoting.customer.email" type="text" class="form-control" id="email" placeholder="Tu dirección de correo electrónico" required>
                </div>
                <div class="form-group">
                    <label>Fecha del servicio</label>
                    <div>{{ vm.showServiceDate() }}</div>
                    <div class="text-center col-md-8 col-md-offset-2">
                        <datetimepicker ng-model="vm.quoting.datetime_of_service" data-datetimepicker-config="{ startView:'day', minView:'hour' }"></datetimepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observations">Detalla las cosas que deseas mudar <span class="text-muted">(Opcional)</span></label>
                    <textarea ng-model="vm.quoting.observations" class="form-control" id="observations" placeholder="Detalla aquí"></textarea>
                </div>
                <div class="form-group">
                    <label>Forma de Pago</label>
                    <br>
                    <label><input ng-model="vm.quoting.payment_method" type="radio" value="transf"> Transferencia bancaria</label>
                </div>
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Para separar el servicio y programar la unidad más cerca de usted es necesario que se haga un <b>depósito del 50%</b> del monto total del servicio.
                    <br>
                    <br>
                    Una vez hecho el depósito deberá enviarnos el voucher por correo electrónico o whatsapp
                    <br>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            Correo: <b><a href="mailto:Jeymy@aloha.pe">jeymy@aloha.pe</a></b> / <b><a href="mailto:Karim@aloha.pe">karim@aloha.pe</a></b>
                        </li>
                        <li>
                            Whatsapp: <b>946 585 495</b>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            <img src="https://panel.aloha.pe/static/images/bcp.jpg" style="max-width: 80px">
                            <p>Cuenta corriente a nombre de <b>Aloha S.A.C</b></p>
                            <p><b>Banco BCP</b> <br><b>191-2451785-0-03</b></p>
                            <p><b>CCI: <br>00219100245178500358</b></p>
                        </li>
                    </ul>
                    <br>
                    Si tiene alguna duda o sugerencia no dude en contactarnos.
                </div>
                <hr>
                <div ng-if="vm.error">
                    <div class="alert alert-error">Ocurrió un problema, porfavor inténtalo nuevamente o comunícate con nosotros.</div>
                    <hr>
                </div>
                <button ladda="vm.loading" class="btn btn-success btn-block">Programar mudanza ahora!</button>
            </form>
        </div>
    </div>
</div>
