<public-header></public-header>
<div class="container">
    <h1 class="page-title">NOSOTROS</h1>
    <p>Aloha es una empresa con un impacto social y económico que mediante nuestra plataforma tecnológica conectamos a empresas que transportan mercadería y personas que se mudan con nuestra red de transportistas expertos.</p>
    <p>Ellos son seleccionados y afiliados bajo estrictos filtros.</p>
    <p>De esta manera garantizamos una mayor disponibilidad, seguridad y precios competitivos.</p>
    <p>Aloha, un camión cerca de ti.</p>
</div>
