<div class="container">
    <div class="list-leads to-uppercase">
        <app-lead lead="vm.lead"></app-lead>
        <div class="page-header">
            <h1 class="text-muted">Cotizaciones</h1>
        </div>
        <a ui-sref="auth.Quotation({leadId: vm.leadId})" class="btn btn-primary">Crear cotización</a>
        <div class="list-quotings">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr ng-repeat="quotation in vm.quotations">
                    <td>{{ quotation.datetime_of_service | date:'dd/MMM' }}</td>
                    <td>{{ quotation.address_from }}</td>
                    <td>{{ quotation.address_to }}</td>
                    <td>{{ quotation.final_price }}</td>
                    <td ng-class="{'win': quotation.profit > 0}" class="earn">{{ quotation.profit }}</td>
                    <td>
                        <a ui-sref="auth.QuotationDetails({quotationId: quotation.id})">Ver</a>
                    </td>
                </tr>
                <tr ng-if="vm.empty_list">
                    <td colspan="6">Este lead no tiene cotizaciones registradas.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>