<div class="container">
    <div class="leads leads-container">
        <div class="page-header">
            <h1 class="text-center text-muted">Nuevo Lead</h1>
        </div>
        <form ng-submit="vm.createLead()" class="form">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombres <span class="small">*</span></label>
                    <input ng-model="vm.lead.first_name" type="text" class="form-control" autofocus>
                </div>
                <div class="col-md-6">
                    <label>Apellidos <span class="small">*</span></label>
                    <input ng-model="vm.lead.last_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Teléfono <span class="small">*</span></label>
                    <input ng-model="vm.lead.phone_number" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>DNI</label>
                    <input ng-model="vm.lead.dni" type="text" class="form-control">
                </div>
            </div>
            <p class="small text-muted">* Campos requeridos</p>
            <div class="alert alert-danger small" ng-if="vm.error">{{ vm.error }}</div>
            <div class="form-group">
                <div class="col-md-8 col-xs-12 pull-right">
                    <button class="btn btn-lg btn-primary btn-block">COTIZAR <i class="fa fa-long-arrow-right"></i></button>
                </div>
                <div class="col-md-4 col-xs-12">
                    <button ng-click="vm.clearForm()" class="btn btn-lg btn-default btn-block" type="button">LIMPIAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
