<public-header></public-header>
<div class="container-fluid">
    <div class="container">
        <div class="content-box">
            <h1>Tu mudanza fue programada con éxito</h1>
            <p>Gracias por confiar en <b>Aloha.pe</b>, nuestro personal ya fue informado de tu mudanza y una unidad ya se te asignó.</p>
            <p>No dudes en contactarnos si tienes alguna duda, sugerencia o inconveniente.</p>
            <p>Aloha!</p>
        </div>

        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> Para confirmas el servicio es necesario hacer el <b>depósito del 50%</b> del monto total del servicio.
            <br>
            <br>
            Una vez hecho el depósito deberá enviarnos el voucher por correo electrónico o whatsapp.
            <br>
            <br>
            <ul class="list-unstyled">
                <li>
                    Correo: <b><a href="mailto:hola@aloha.pe">hola@aloha.pe</a></b>
                </li>
                <li>
                    Whatsapp: <b>946 585 495</b>
                </li>
            </ul>
            <br>
            <ul class="list-unstyled">
                <li>
                    <img src="https://panel.aloha.pe/static/images/bcp.jpg" style="max-width: 80px">
                    <p>Cuenta corriente a nombre de <b>Aloha S.A.C</b></p>
                    <p><b>Banco BCP</b> <br><b>191-2451785-0-03</b></p>
                    <p><b>CCI: <br>00219100245178500358</b></p>
                </li>
            </ul>
            <br>
            Si tiene alguna duda o sugerencia no dude en contactarnos.
        </div>
    </div>
</div>
