<div class="container">
    <div class="leads leads-container text-center">
        <div class="actions">
            <ul class="list-inline pull-right">
                <li>
                    <a ui-sref="auth.NewLead()" class="btn btn-success">Nuevo Lead</a>
                </li>
            </ul>
        </div>
        <div class="list-leads to-uppercase">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="hidden-xs"></th>
                    <th>Nombres</th>
                    <th class="hidden-xs">DNI</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr ng-repeat="item in vm.list">
                    <td class="hidden-xs"><img src="//panel.aloha.pe/static/images/lead.jpg" class="media-photo"></td>
                    <td>{{ item.first_name }} {{ item.last_name }}</td>
                    <td class="hidden-xs">{{ item.dni }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <a ui-sref="auth.Quotation({leadId: item.id})">Cotizar</a>
                        <br>
                        <a ui-sref="auth.LeadDetails({leadId: item.id})">Detalle</a>
                    </td>
                </tr>
                <tr ng-if="vm.empty_list">
                    <td colspan="6">No hay leads registrados.</td>
                </tr>
                </tbody>
            </table>
            <app-loader ng-if="vm.loading"></app-loader>
        </div>
    </div>
</div>