<div class="container">
    <div class="list-leads to-uppercase">
        <div class="list-quotings">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Para</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Precio</th>
                    <th>Chofer</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr ng-repeat="quotation in vm.quotations">
                    <td>{{ quotation.lead.first_name }} {{ quotation.lead.last_name }}</td>
                    <td>{{ quotation.datetime_of_service | date:'dd/MMM' }}</td>
                    <td>{{ quotation.address_from }}</td>
                    <td>{{ quotation.address_to }}</td>
                    <td>{{ quotation.final_price }}</td>
                    <td>{{ quotation.assigned_driver.first_name }} {{ quotation.assigned_driver.last_name }}</td>
                    <td>
                        <a ui-sref="auth.QuotationDetails({quotationId: quotation.id})">Ver</a>
                    </td>
                </tr>
                <tr ng-if="vm.empty_list">
                    <td colspan="6">Este lead no tiene cotizaciones registradas.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>