<div class="container">
    <div class="leads leads-container">
        <div class="form">
            <div class="page-header">
                <h1 class="text-center text-muted">Inventario</h1>
            </div>
            <form ng-submit="vm.addItem()">
                <div class="form-group">
                    <div class="col-xs-3">
                        <input ng-focus="vm.startNewItem" ng-model="vm.newItem.quantity" min="1" type="number" placeholder="Cantidad" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input ng-model="vm.newItem.item_name" type="text" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <button ladda="vm.addingItem" class="btn btn-success btn-block">Agregar <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="item in vm.inventoryList">
                    <td>
                        <label>{{ item.quantity }}</label>
                    </td>
                    <td>
                        <label>{{ item.item_name }}</label>
                    </td>
                    <td>
                        <label><a ng-click="vm.deleteItem(item.id)">Eliminar</a></label>
                    </td>
                </tr>
            </table>
            <div class="alert alert-danger small" ng-if="vm.error">{{ vm.error }}</div>
            <hr>
            <div class="form-group">
                <div class="col-md-4">
                    <button ng-click="vm.close()" class="btn btn-lg btn-default btn-block" type="button">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>