<div class="container">
    <div class="list-leads to-uppercase">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Nombre y Apellidos</th>
                <th>DNI</th>
                <th>Correo</th>
            </tr>
            </thead>
            <tbody class="text-left">
            <tr>
                <td><img src="//panel.aloha.pe/static/images/lead.jpg" class="media-photo"></td>
                <td>{{ vm.lead.first_name }} {{ vm.lead.last_name }}</td>
                <td>{{ vm.lead.dni }}</td>
                <td>{{ vm.lead.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="lead leads-container">
        <div class="page-header">
            <h1 class="text-center text-muted">Cotizador</h1>
        </div>
        <form ng-submit="vm.register()">
            <div class="form-group">
                <label>¿Desde dónde se muda?</label>
                <input ng-model="vm.quoting.address_from" ng-blur="vm.calculateRoute()" google-place type="text" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label>Tipo de vivienda</label>
                <select ng-model="vm.quoting.house_type_from" class="form-control">
                    <option value="">-- Elige un tipo de vivienda --</option>
                    <option ng-repeat="type in vm.homeTypes" value="{{ type.id }}">{{ type.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Piso</label>
                <input ng-model="vm.quoting.from_apartment_floor" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>¿Hasta dónde se muda?</label>
                <input ng-model="vm.quoting.address_to" ng-blur="vm.calculateRoute()" google-place type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Tipo de vivienda</label>
                <select ng-model="vm.quoting.house_type_to" class="form-control">
                    <option value="">-- Elige un tipo de vivienda --</option>
                    <option ng-repeat="type in vm.homeTypes" value="{{ type.id }}">{{ type.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Piso</label>
                <input ng-model="vm.quoting.to_apartment_floor" type="number" class="form-control">
            </div>
            <div class="form-group">
                <div id="map"></div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Distancia aproximada</label>
                    <input ng-model="vm.quoting.distance_aprox" type="text" class="form-control" disabled>
                </div>
                <div class="col-xs-6">
                    <label>Tiempo de viaje</label>
                    <input ng-model="vm.quoting.time_travel_aprox" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                <label>Tipo de camión</label>
                <select ng-model="vm.quoting.truck_size_type" ng-change="vm.calculateTruckPrice()" class="form-control">
                    <option value="">-- Elige el tipo de camión --</option>
                    <option ng-repeat="truck_size_type in vm.truckSizeTypes" value="{{ truck_size_type.id }}">{{ truck_size_type.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tiempo aproximado de la mudanza (Minutos)</label>
                <input ng-change="vm.calculateTruckPrice()" ng-model="vm.quoting.moving_stuff_time" type="number" class="form-control">
            </div>
            <div class="summary">
                <div class="page-header">
                    <h1 class="text-muted">Resumen</h1>
                </div>
                <div class="form-group">
                    <label>Precio por cargar cosas</label>
                    <label class="pull-right"><strong>{{ vm.quoting.packaging_price }}</strong></label>
                </div>
                <div class="form-group">
                    <label>Precio transporte al nuevo punto</label>
                    <label class="pull-right"><strong>{{ vm.quoting.travel_price }}</strong></label>
                </div>
                <div class="form-group">
                    <label>Precio por mudanza</label>
                    <label class="pull-right"><strong>{{ vm.quoting.price }}</strong></label>
                </div>
            </div>
            <div class="summary">
                <div class="page-header">
                    <h1 class="text-muted">Total</h1>
                </div>
                <div class="form-group">
                    <label>Precio acordado con el cliente</label>
                    <input ng-model="vm.quoting.final_price" type="number" class="form-control">
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block">GUARDAR</button>
        </form>
    </div>
</div>