<div class="container">
    <div class="list-leads to-uppercase">
        <app-lead lead="vm.lead"></app-lead>
        <app-loader ng-if="vm.loading"></app-loader>
    </div>
    <div class="lead leads-container">
        <div class="page-header">
            <h1 class="text-center text-muted">Cotizador</h1>
        </div>
        <form ng-submit="vm.registerQuotation()" class="form">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Hora del servicio</label>
                </div>
                <div class="col-md-6">
                    {{ vm.showServiceDate() }}
                </div>
                <datetimepicker data-ng-model="vm.quoting.datetime_of_service" data-datetimepicker-config="{ startView:'day', minView:'hour' }"></datetimepicker>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label>¿Desde dónde se muda?</label>
                    <input ng-model="vm.quoting.address_from" ng-blur="vm.calculateRoute()" google-place type="text" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Tipo de vivienda</label>
                    <select ng-model="vm.quoting.home_type_from_id" class="form-control">
                        <option value="">-- Elige un tipo de vivienda --</option>
                        <option ng-repeat="type in vm.homeTypes" value="{{ type.id }}">{{ type.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Piso</label>
                    <input ng-model="vm.quoting.floor_from" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label>¿Hasta dónde se muda?</label>
                    <input ng-model="vm.quoting.address_to" ng-blur="vm.calculateRoute()" google-place type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Tipo de vivienda</label>
                    <select ng-model="vm.quoting.home_type_to_id" class="form-control">
                        <option value="">-- Elige un tipo de vivienda --</option>
                        <option ng-repeat="type in vm.homeTypes" value="{{ type.id }}">{{ type.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Piso</label>
                    <input ng-model="vm.quoting.floor_to" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="button" ng-click="vm.calculateRoute()" class="btn btn-info">Refrescar Mapa</button>
                </div>
                <div id="map"></div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Distancia aproximada</label>
                    <input ng-model="vm.distance_aprox" type="text" class="form-control" disabled>
                </div>
                <div class="col-xs-6">
                    <label>Tiempo de viaje</label>
                    <input ng-model="vm.time_travel_aprox" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Tipo de camión</label>
                    <select ng-model="vm.quoting.truck_size_type_id" ng-change="vm.calculateTruckPrice(); vm.changeServiceTime()" class="form-control">
                        <option value="">-- Elige el tipo de camión --</option>
                        <option ng-repeat="truck_size_type in vm.truckSizeTypes" value="{{ truck_size_type.id }}">{{ truck_size_type.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Tiempo carga y descarga (min)</label>
                    <input ng-change="vm.calculateTruckPrice()" ng-model="vm.quoting.packaging_time_aprox" type="number" class="form-control">
                </div>
            </div>
            <div class="summary">
                <div class="page-header">
                    <h1 class="text-muted">Resumen</h1>
                </div>
                <div class="form-group">
                    <label>Precio por cargar cosas</label>
                    <label class="pull-right"><strong>{{ vm.quoting.packaging_price }}</strong></label>
                </div>
                <div class="form-group">
                    <label>Precio transporte al nuevo punto</label>
                    <label class="pull-right"><strong>{{ vm.quoting.travel_price }}</strong></label>
                </div>
                <div class="form-group">
                    <label>Precio por mudanza</label>
                    <label class="pull-right"><strong>{{ vm.quoting.total_price }}</strong></label>
                </div>
            </div>
            <div class="summary">
                <div class="page-header">
                    <h1 class="text-muted">Total</h1>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Precio recomendado</label>
                        <input value="{{ vm.quoting.total_price + 50 }}" type="text" class="form-control" disabled>
                    </div>
                    <div class="col-md-6">
                        <label>Precio final</label>
                        <input ng-model="vm.quoting.final_price" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="alert alert-danger small" ng-if="vm.error">{{ vm.error }}</div>
            <div class="form-group">
                <div class="col-md-8 pull-right">
                    <button ladda="vm.saving" class="btn btn-lg btn-primary btn-block">GUARDAR <i class="fa fa-long-arrow-right"></i></button>
                </div>
                <div class="col-md-4">
                    <button ng-click="vm.clearForm()" class="btn btn-lg btn-default btn-block" type="button">LIMPIAR</button>
                </div>
            </div>
        </form>
    </div>
</div>