<div class="container">
    <div class="lead lead-container">
        <h1>Lead</h1>
        <form ng-submit="vm.register()">
            <div class="form-group">
                <label>Nombres</label>
                <input ng-model="vm.lead.first_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                <input ng-model="vm.lead.last_name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>DNI</label>
                <input ng-model="vm.lead.dni" type="text" class="form-control">
            </div>
        </form>
    </div>
</div>