<div class="container">
    <div class="list-leads to-uppercase">
        <table class="table table-striped hidden-xs">
            <thead>
            <tr>
                <th></th>
                <th>Nombres</th>
                <th>DNI</th>
                <th>Correo</th>
            </tr>
            </thead>
            <tbody class="text-left">
            <tr>
                <td><img src="//panel.aloha.pe/static/images/lead.jpg" class="media-photo"></td>
                <td><a ui-sref="auth.LeadDetails({leadId: vm.quotation.lead.id})">{{ vm.quotation.lead.first_name }} {{ vm.quotation.lead.last_name }}</a></td>
                <td>{{ vm.quotation.lead.dni }}</td>
                <td>{{ vm.quotation.lead.email }}</td>
            </tr>
            </tbody>
        </table>
        <app-loader ng-if="vm.loading"></app-loader>
    </div>
    <div class="lead leads-container">
        <div class="page-header">
            <h1 class="text-center text-muted">Cotización [{{ vm.quotation.created | date}}]</h1>
        </div>
        <div class="form-group">
            <label>¿Desde dónde se muda?</label>
            <div class="entry-value">{{ vm.quotation.address_from }}</div>
        </div>
        <div class="form-group">
            <label>Tipo de vivienda</label>
            <div class="entry-value">{{ vm.quotation.home_type_from.name }}</div>
        </div>
        <div class="form-group">
            <label>Piso</label>
            <div class="entry-value">{{ vm.quotation.floor_from }}</div>
        </div>
        <div class="form-group">
            <label>¿Hasta dónde se muda?</label>
            <div class="entry-value">{{ vm.quotation.address_to }}</div>
        </div>
        <div class="form-group">
            <label>Tipo de vivienda</label>
            <div class="entry-value">{{ vm.quotation.home_type_to.name }}</div>
        </div>
        <div class="form-group">
            <label>Piso</label>
            <div class="entry-value">{{ vm.quotation.floor_to }}</div>
        </div>
        <div class="form-group">
            <div id="map"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label>Distancia aproximada</label>
                <div class="entry-value">{{ vm.quotation.travel_distance_aprox_label }}</div>
            </div>
            <div class="col-xs-6">
                <label>Tiempo de viaje</label>
                <div class="entry-value">{{ vm.quotation.travel_time_aprox_label }}</div>
            </div>
        </div>
        <div class="form-group">
            <label>Tipo de camión</label>
            <div class="entry-value">
                {{ vm.quotation.truck_size_type.name }}
            </div>
        </div>
        <div class="form-group">
            <label>Tiempo aproximado de la mudanza (Minutos)</label>
            <div class="entry-value">{{ vm.quotation.packaging_time_aprox }}</div>
        </div>
        <div class="summary">
            <div class="page-header">
                <h1 class="text-muted">Resumen</h1>
            </div>
            <div class="form-group">
                <label>Precio por cargar cosas</label>
                <label class="pull-right"><strong>{{ vm.quotation.packaging_price }}</strong></label>
            </div>
            <div class="form-group">
                <label>Precio transporte al nuevo punto</label>
                <label class="pull-right"><strong>{{ vm.quotation.travel_price }}</strong></label>
            </div>
            <div class="form-group">
                <label>Precio por mudanza</label>
                <label class="pull-right"><strong>{{ vm.quotation.total_price }}</strong></label>
            </div>
        </div>
        <div class="summary">
            <div class="page-header">
                <h1 class="text-muted">Total</h1>
            </div>
            <div class="form-group">
                <label>Precio acordado con el cliente</label>
                <label class="pull-right"><strong>{{ vm.quotation.final_price }}</strong></label>
            </div>
        </div>
    </div>
</div>